*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #41CBD3;
    --secondary-color: #E8E9EC;
    --black-color: #2E3349;
    --dark-grey: #6B7082;

}

body{
    font-family: "Kumbh Sans", sans-serif;
    display: flex;
    width: 100%;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    background-image: url(images/Oval\ Copy\ 30.png), url(images/Oval\ Copy\ 32.png);
    background-repeat: no-repeat;
    background-position: left top, right bottom -50px;
    background-size: 976px;
}
img{
    width: 100%;
}

.container{
    width: 350px;
    height: 374px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 20px var(--dark-grey);
    background-image: url(images/bg.png);
    background-size: 380px 140px;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
}

.card-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--dark-grey);
    height: 70%;
}

.card-top img{
    width: 96px;
}
.card-bottom{
    display: flex;
    flex-direction: column;
}

.flex-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-height: 30%;
    padding-bottom: 20px;
    
}

.user-text{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.sm-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
h3{
    font-size: 18px;
    font-weight: 700;
    color: var(--black-color);
}
h4{
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-grey);
}